<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2 class="header__xs">Favs</h2>
    </div>
  </div>
</div> <!-- end of container -->

<div class="container">
  <div class="row">
    <div class="col-md-3">

      <h2>Title:<%=@placeholder%></h2>
      <h2>Title:<%=@placeholder%></h2>
      <h2>Title:<%=@placeholder%></h2>
      <h2>Title:<%=@placeholder%></h2>
      <h2>Title:<%=@placeholder%></h2>

    </div>

  </div>

</div>


