<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h2 class="header__xs">Film</h2>
		</div>
	</div>
</div> <!-- end of container -->

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h2>Title:<%=@placeholder%></h2>
			<h2>Year:<%=@placeholder%></h2>
			<h2>Poster:<%=@placeholder%></h2>
			<h2>Plot:<%=@placeholder%></h2>
			<h2>Actor:<%=@placeholder%></h2>
			 <div class="btn-group" role="group">
   				 <button type="button" class="btn btn-default">Favorite</button>
   				 <button type="button" class="btn btn-default">Trailer</button>
 			 </div>

 			<br>
 			<br>
 			<a href="#">Back</a>
		</div>



		<div class="col-md-9">
			 <div class="poster">
				<img src="http://ia.media-imdb.com/images/M/MV5BMjM1NTUzMzU5NF5BMl5BanBnXkFtZTgwNDAxNzQxMTE@._V1_SY317_CR0,0,214,317_AL_.jpg">  	
    	</div>

	</div>

</div>